[Unit]
Description=compton

Wants=xsession.target
After=xsession.target

ConditionFileIsExecutable=/usr/bin/compton
ConditionPathExists=%h/.config/compton.conf

[Service]
Type=simple

ExecStart=/usr/bin/compton --config %h/.config/compton.conf
Restart=always
RestartSec=5

[Install]
WantedBy=xsession.target
