[Unit]
Description=dunst

Wants=xsesision.target
After=xsesision.target

ConditionFileIsExecutable=/usr/bin/dunst
ConditionPathExistsionFileNotEmpty=%h/.config/dunst/dunstrc

[Service]
Type=simple

ExecStart=/usr/bin/dunst -config %h/.config/dunst/dunstrc

[Install]
WantedBy=xsession.target
