[Unit]
Description=wallpaper

Wants=xsession.target
After=xsession.target

ConditionFileIsExecutable=%h/.config/wallpaper/wallpaper.sh

[Service]
Type=oneshot

ExecStart=%h/.config/wallpaper/wallpaper.sh

[Install]
WantedBy=xsession.target
