[Unit]
Description=wallpaper

Wants=xsesision.target
After=xsesision.target

ConditionFileIsExecutable=%h/.wallpaper/wallpaper.sh

[Service]
Type=oneshot

ExecStart=%h/.wallpaper/wallpaper.sh
Restart=no

[Install]
WantedBy=xsession.target
